# Database
DATABASE_URL=postgresql://quizzup:quizzup@localhost:5434/quizzup_backoffice

# Seed - Company
QUIZZUP_COMPANY_EMAIL=billing@quizzup.local

# Seed - Admin
ADMIN_SEED_EMAIL=admin@quizzup.local
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PASSWORD=ChangeMe123!

# API
API_PORT=3001
CORS_ORIGIN=http://localhost:4173

# JWT
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=2h
